@using BeltExam.Models;
@using System.Linq;
@using System;

@{
    ViewData["Title"] = "My Profile";
}



<div class="container center">
    <h1>Hello @ViewBag.User.FirstName @ViewBag.User.LastName</h1>
    <p>Bio: @ViewBag.User.Description</p>

    <h4>Your Professional Network:</h4>
    @if(@ViewBag.Friends != null)
    {
        foreach(Connection person in @ViewBag.Friends)
        {

            <p><a href="/user/@person.Sender.UserId">@person.Sender.FirstName @person.Sender.LastName</a></p>
        }
    }
   

    <h4>Invitations:</h4>
    <p>The following people asked you to be in their network</p>
    <table class="eight columns">
        <thead>
            <th>Name</th>
            <th>Action</th>
        </thead>
        @if(@ViewBag.Invitations != null)
        {
            foreach(Connection person in @ViewBag.Invitations)
            {
                <tr>
                    <td><a href="/user/@person.Sender.UserId">@person.Sender.FirstName @person.Sender.LastName</a></td>
                    <td><a href="/acceptinvitation/@person.Sender.UserId">Accept Invite</a> <a href="/deleteinvitation/@person.Sender.UserId">Ignore</a></td>
                </tr>
            }
        }
    </table>
</div>
