@{
    ViewData["Title"] = "Home Page";
}
@model restauranter.Models.Review

<h1>All Reviews!</h1>

@foreach(var review in ViewBag.Reviews)
{
    <hr />
    <p>@review.reviewer_name gave "@review.restaurant_name" @review.stars stars</p>
    <p>@review.review</p>
    <p>@review.date</p>
    
}
    